<!-- The main content area -->
<main id="main" role="main">

	<section class="snt-intro text-center p-t-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="inner">
						<%- image_tag("/img/status-token.svg") %>
						<h1>Status Network Token</h1>
						<p class="teaser-1">SNT powers and incentivizes participation <br>in the Status Network.</p>
						<a href="#" class="link-arrow">Read the White Paper</a>
					</div>
					<nav class="p-t-160">
						<ul class="inline-links">
							<li><a href="#basics" class="link">The Basics</a></li>
							<li><a href="#using-snt">Using SNT</a></li>
							<li><a href="#research">Research</a></li>
							<li><a href="#get-involved">Get Involved</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<section class="snt-basics p-t-160 p-b-160 col-black" id="basics">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="m-b-100">The Basics</h2>
					<ul>
						<li>
							<div class="inner">
								<h4>ERC-20 Token</h4>
								<p>SNT is an ERC-20 token used to access and power decentralized services in the Status Network and application. </p>
								<a href="#" class="link-arrow link-arrow-white">See all SNT Use Cases</a>
							</div>
							<%- image_tag("/img/basic-icon-1.svg") %>
						</li>
						<li>
							<div class="inner">
								<h4>Open Source</h4>
								<p>Status is an open source and permissionless project in which anyone can use the code, SNT, and infrastructure to suit their needs.</p>
							</div>
							<%- image_tag("/img/basic-icon-2.svg") %>
						</li>
						<li>
							<div class="inner">
								<h4>Governance</h4>
								<p>SNT is also used to govern and influence application development, community, and the network itself.</p>
							</div>
							<%- image_tag("/img/basic-icon-3.svg") %>
						</li>
						<li>
							<div class="inner">
								<h4>Research</h4>
								<p>We are continuously performing R&D on cryptoeconomics, token models, and peer-to-peer technologies to ensure long term health of the Status Network. </p>
								<a href="#" class="link-arrow link-arrow-white">Learn more about the research</a>
							</div>
							<%- image_tag("/img/basic-icon-4.svg") %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="using-snt p-t-160" id="using-snt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Using SNT</h2>
					<div class="row">
						<div class="col-md-6">
							<p class="teaser-2">SNT is used to power certain application features and create an open source, decentralized economy. We are conducting research on the crypto economic models for each use case which can be found in the financial model workbooks.</p>
						</div>
					</div>
					<div class="items">
						<div class="item">
							<%- image_tag("/img/snt-item-1.svg") %>
							<div class="inner">
								<h3>Network Incentivization</h3>
								<div class="status">In research</div>
								<p>Research and develop framework and incentivization structure for people deploying and using Status nodes according to the whitepaper. One important vision aspect is that the app continues to work if all nodes in Status-hosted cluster is down.<br><br>Network incentivization is crucial to network success and the token economy. </p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<h3>Teller Network</h3>
								<div class="status">In development</div>
								<p>DApp inside of Status, which provides borderless, peer-to-peer fiat-to-crypto ‘Teller Network’ that allows Stakeholders to find nearby users to exchange their cash for digital assets and currency, giving any smartphone owner in the world the ability to take control of their personal wealth.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
							<%- image_tag("/img/snt-item-2.png", { srcset: '/img/snt-item-2-2x.png 2x'}) %>
						</div>
						<div class="item">
							<div class="inner">
								<h3>ENS User Name</h3>
								<div class="status">Live</div>
								<p>ENS addresses are like usernames. Jenny.eth can point to my personal account, enabling others to send me tokens or find me on Status chat much more easily. You can look up .eth addresses in Status chat, wallet and browser.<br><br>Registering an ENS costs 10 SNT. Once you reserve a name, your SNT is locked into the registry contract for 1 year. After the year is up, you can release the name to get your tokens back—or take no action to hold on to it.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-arrow">Register an ENS</a></li>
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
							<%- image_tag("/img/snt-item-4.png", { srcset: '/img/snt-item-4-2x.png 2x'}) %>
						</div>
						<div class="item">
							<%- image_tag("/img/snt-item-3.png", { srcset: '/img/snt-item-3-2x.png 2x'}) %>
							<div class="inner">
								<h3>Sticker Market</h3>
								<div class="status">In development</div>
								<p>The Sticker Market is a highly anticipated feature within Status. Not only does it provide real use case for SNT, but it enables users to have a bit of fun within the chat itself. After all, we are building a tool for free and open communication which inherently implies the freedom of self expression. All stickers within the Sticker Market will be sold as packs (not individually) and will require SNT for purchase.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<h3>Tribute to Talk</h3>
								<div class="status">In development</div>
								<p>Inspired by one of Satoshi Nakamoto’s original suggested use cases for Bitcoin, we will be introducing an economics-based anti-spam filter, in our case for receiving messages and “cold” contact requests from users. This enables stakeholders to set a minimum amount of SNT that a Status stakeholder must deposit in order for someone outside of their network to contact him directly.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
							<%- image_tag("/img/snt-item-6.svg") %>
						</div>
						<div class="item">
							<%- image_tag("/img/snt-item-5.png", { srcset: '/img/snt-item-5-2x.png 2x'}) %>
							<div class="inner">
								<h3>DAO & Governance</h3>
								<div class="status">In development</div>
								<p>A core part of the Status Network Token is giving stakeholders the ability to choose the direction that the software is developed. The token is used to make decisions on proposals, which can be made by any Stakeholder. For each decision, the token is cloned into a separate decision token. The amount of tokens you hold at that time becomes your voting power for that decision and it does not cost SNT to vote.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<h3>DApp curation</h3>
								<div class="status">In development</div>
								<p>Within the Status Network, stakeholders will be able to opt-in to curate the content that is displayed by producing signatures on events (i.e. by upvoting or downvoting content or ideas), referred to as signals, in which the stakeholders’ token backing is weighted in ranking.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
							<%- image_tag("/img/snt-item-8.svg") %>
						</div>
						<div class="item">
							<%- image_tag("/img/snt-item-7.svg") %>
							<div class="inner">
								<h3>Voting DApp</h3>
								<div class="status">In development</div>
								<p>One major drawback in legacy social networks is the lack of influence their users possess over the networks themselves. They are often powerless in having a say on how the platform evolves. We aim to democratise this power, giving stakeholders a direct influence over all decisions within the network, including how the software is developed. The Voting DApp can be used to vote with SNT on various proposals.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<h3>Acquisition Engine</h3>
								<div class="status">In development</div>
								<p>Achieving our mission ultimately requires one thing: widespread end-user adoption. Using the Status Network Token, we can design mechanisms for growth that have been tried and tested in Web 2.0, whilst providing greater transparency and better alignment of incentives for participants.</p>
								<ul class="inline-links">
									<li><a href="#" class="link-token">Token Economy Financial Model Workbook</a></li>
								</ul>
							</div>
							<%- image_tag("/img/snt-item-9.svg") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="m-t-50">Learn More</h3>
					<p class="teaser-2">Status is a community-ran project. Join our public discussions or read the SNT FAQ’s to learn more about the token economic for Status.</p>
					<ul class="inline-links">
						<li><a href="#"><%- image_tag("/img/developers-img.svg") %> Join #Token-Economics</a></li>
						<li><a href="#"><%- image_tag("/img/community-group-img.svg") %> SNT FAQ’s</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="get-status">
						<h3>Get Involved</h3>
						<p class="teaser-2">We encourage researchers to get involved and test economic models within the Status eco-system.</p>
						<a href="#" class="btn btn-purple-fill btn-arrow btn-arrow-white">Cryptoeconomic Bounties</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>